<%# -*- coding: utf-8 -*- -%>
<h1>Listing queue_infos</h1>

<table>
  <tr>
    <th>Queue name</th>
    <th>Owner</th>
  </tr>

<% for queue_info in @queue_infos %>
  <tr>
    <td><%=h queue_info.queue.to_param %></td>
    <td><%=h queue_info.owner.name %></td>
    <td><%= link_to 'Show', queue_info %></td>
    <td><%= link_to 'Edit', edit_polymorphic_path(queue_info) %></td>
    <td><%= link_to 'Destroy', queue_info, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New queue_info', new_combined_queue_info_path %>
