<h1>New queue_info</h1>

<%= error_messages_for :queue_info %>

<% form_for(@queue_info) do |f| %>
  <%= f.select("queue_id", @queue_list, {:prompt => 'Select Queue'}) %>
  <%= f.select("owner_id", @reg_list, {:prompt => 'Select Owner'}) %>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', combined_queue_infos_path %>
