<h1>New queue_info</h1>

<%= error_messages_for :queue_info %>

<% form_for(@queue_info) do |f| %>
  <%= f.select("queue_id", Combined::Queue.find(:all).collect { |q| [ q.to_param, q.id ] }, {:prompt => 'Select Queue'}) %>
  <%= f.select("owner_id", Combined::Registration.find(:all).collect { |r| [ r.name, r.id ] }, {:prompt => 'Select Owner'}) %>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', retain_queue_infos_path %>
