<%# -*- encoding: utf-8 -*- -%>
<%# Copyright 2007-2011 Ease Software, Inc. and Perry Smith -%>
<%# All Rights Reserved -%>
<!-- <%= __FILE__[Rails.root.to_s.length+1 .. -1] %> -->
<p>
  <b>Queue</b><%=h @queue_info.queue.to_param %> <b>Owner</b><%= h @queue_info.owner.name %>
</p>


<%= link_to 'Edit', edit_polymorphic_path(@queue_info) %> |
<%= link_to 'Back', combined_queue_infos_path %>
