<%# -*- coding: utf-8 -*- -%>
<% content_for :body do %>
  <!-- <%= __FILE__[Rails.root.to_s.length+1 .. -1] %> -->
  <% form_for(@association_type) do |f| %>
    <%= f.error_messages %>

    <p>
      <%= f.label :association_type %><br />
      <%= f.text_field :association_type %>
    </p>
    <p>
      <%= f.submit 'Update' %>
    </p>
  <% end %>
<%- end -%>
<%= render :partial => 'shared/config_edit',
      :locals => { :name => @association_type.association_type, :item => @association_type, :parent => nil } %>
