<%# -*- coding: utf-8 -*- %>

<!-- retain/customers/edit.html.erb -->
<h1>Editing customer <%= @customer.customer_number %></h1>
<%= error_messages_for :customer %>
<% form_for(@customer) do |f| %>
<p>
  <b>PAT flag</b><br/>
  <%= f.check_box :pat %>
</p>
<p>
  <%= f.submit "Update" %>
</p>
<% end %>

<%= link_to "Show", combined_customer_path(@customer) %>
<%= link_to "Back to Index", combined_customers_path %>
