<%# -*- coding: utf-8 -*- -%>
<%# Copyright 2007-2011 Ease Software, Inc. and Perry Smith -%>
<%# All Rights Reserved -%>
<!-- <%= __FILE__[Rails.root.to_s.length+1 .. -1] %> -->
<h1>Editing customer <%= @customer.customer_number %></h1>
<%= error_messages_for :customer %>
<% form_for(@customer) do |f| %>
<p>
  <%= f.submit "Update" %>
</p>
<% end %>

<%= link_to "Show", combined_customer_path(@customer) %>
<%= link_to "Back to Index", combined_customers_path %>
