<%# -*- coding: utf-8 -*- -%>
<!-- <%= __FILE__[Rails.root.to_s.length+1 .. -1] %> -->
<table>
  <tr><th>Country</th><td><%= h @customer.country %></td></tr>
  <tr><th>Customer Number</th><td><%= h @customer.customer_number %></td></tr>
  <tr><th>Company Name</th><td><%= h @customer.company_name %></td></tr>
  <tr><th>Center</th><td><%= h @customer.center %></td></tr>
  <tr><th>Daylight Time Flag</th><td><%= h @customer.daylight_time_flag %></td></tr>
  <tr><th>Time Zone</th><td><%= h @customer.time_zone %></td></tr>
  <tr><th>Time Zone Binary</th><td><%= h @customer.time_zone_binary %></td></tr>
  <tr><th>PAT flag</th><td><%= h @customer.pat %></td></tr>
</table>

<%= link_to "Edit", edit_combined_customer_path(@customer) %>
<%= link_to "Back to Index", combined_customers_path %>
