<%# -*- coding: utf-8 -*- -%>
<%# Copyright 2007-2011 Ease Software, Inc. and Perry Smith -%>
<%# All Rights Reserved -%>
<% content_for(:center) do %>
  <!-- <%= __FILE__[Rails.root.to_s.length+1 .. -1] %> -->
  <h2 style='text-align: center; color: red;'>Retain SDI Error<br/>
    <%= controller.instance_variable_get(:@exception).message %><br/>
    Return Code <%= controller.instance_variable_get(:@exception).rc %>
  </h2>
  <p>
    This may be due to a transient Retain problem or it may be a real
    programming error.  Try the same thing a few times and if the
    problem persists or if you can find a reproducable error, please let
    Perry know.
  </p>
<% end %>

<% content_for(:bottom) do %>
  <div>
    <%= button_url("Home", "/") %>
    <%= button_url("Favorites", favorite_queues_path) %>
  </div>
<% end %>
