<h1>Listing Retain Users</h1>

<table>
  <tr>
    <th>Retid</th>
    <% if admin? %>
      <th>Password</th>
    <% end %>
  </tr>

<% for retain_user in @retain_users %>
  <tr>
    <td><%=h retain_user.retid %></td>
    <% if admin? %>
      <td><%=h retain_user.password %></td>
    <% end %>
    <td><%= link_to 'Show', retain_user %></td>
    <td><%= link_to 'Edit', edit_retain_user_path(retain_user) %></td>
    <% if admin? %>
      <td><%= link_to 'Destroy', retain_user, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<% if admin? %>
  <%= link_to 'New Retain User', new_retain_user_path %>
<% end %>
