<!-- app/views/shared/retain/_call_update.html.erb -->
<%  extend Retain::CallUpdateHelper -%>
<%  content_tag :div, :style => 'border:solid 1px' do -%>
<%=   content_tag :span, "", html_tag(call_update, 'reply-span') %>
<%    remote_form_for call_update, :html => html_tag(call_update, "form") do |cu| -%>
<%=     cu.check_box :update_pmr, html_tag(call_update, "update-pmr") -%>
        Update PMR
<%      content_tag :span, html_tag(call_update, 'action-span') do %>
<%=       cu.radio_button :update_type, "addtxt", html_tag(call_update, "addtxt-radio") -%>
          Add Text Only
<%=       cu.radio_button :update_type, "requeue", html_tag(call_update, "requeue-radio") -%>
          Requeue
<%=       cu.radio_button :update_type, "close", html_tag(call_update, "close-radio") -%>
          Close
<%      end %>
<%=     tag("br") %>
<%=     send_mail_button(call_update) %>
<%=     cu.check_box :do_ct, html_tag(call_update, "do-ct") %>CT
<%      content_tag :span, html_tag(call_update, 'requeue-span') do -%>
          New Queue
<%        content_tag :span, :class => 'input-with-list' do -%>
<%=         cu.text_field :new_queue, html_tag(call_update, "new-queue", :size => 12) %>
<%          content_tag :span do -%>
<%            call_update.call.pmr.visited_queues.each do |queue| -%>
<%=             content_tag(:span, queue.to_param, :class => 'pick-list-item') + tag("br") %>
<%            end -%>
<%          end -%>
<%        end -%>
          New Priority
<%=       cu.text_field :new_priority, html_tag(call_update, "new-priority", :size => 1) %>
<%      end -%>
<%=     tag("br") %>
<%=     cu.text_area :newtxt, html_tag(call_update, "newtxt", :rows => 10, :cols => 72) %>
<%=     tag("br") %>
<%=     cu.check_box :add_time, html_tag(call_update, "add-time") %>Add Time
<%      content_tag :span, html_tag(call_update, 'add-time-span') do -%>
<%        cu.fields_for :psar_update, call_update.psar_update do |psar| -%>
<%=         content_tag :label, "Service:", :for => id_for(call_update, "psar-service-code") %>
            <%= psar.text_field(:psar_service_code,
		               html_tag(call_update, "psar_service-code",
                                        :size => 2, :maxlength => 2)) %>
            Action:
	    <%= psar.text_field(:psar_action_code,
		               html_tag(call_update, "psar_action_code",
                                        :size => 2, :maxlength => 2)) %>
            Cause:
	    <%= psar.text_field(:psar_cause,
		               html_tag(call_update, "psar_cause",
                                        :size => 2, :maxlength => 2)) %>
            Solution:
	    <%= psar.text_field(:psar_solution,
		               html_tag(call_update, "psar_solution",
		                        :size => 1, :maxlength => 1)) %>
            Impact:
	    <%= psar.text_field(:psar_impact,
		               html_tag(call_update, "psar_impact",
		                        :size => 1, :maxlength => 1)) %>
<%=         tag("br") %>
            Time <span style='text-decoration: line-through'>wasted</span> spent
<%=         psar.text_field :hours, html_tag(call_update, "hours", :size => 2) %>Hours
<%=         psar.text_field :minutes, html_tag(call_update, "minutes", :size => 2) %>Minutes
<%        end %>
<%      end %>
<%=     tag("br") %>
<%=     cu.submit "Submit", html_tag(call_update, "submit") %>
<%    end -%>
<%  end -%>
