<!-- app/views/shared/retain/_call_update.html.erb -->
<%  extend Retain::CallUpdateHelper -%>
<%  add_sac_tuples -%>
<%  content_tag :div, html_tag(call_update, 'div', :style => 'border:solid 1px;') do -%>
<%=   content_tag :span, "", html_tag(call_update, 'reply-span') %>
<%-   submit_id = id_for(call_update, "submit") -%>
<%-   remote_form_for(call_update,
                      :loading => "Raptor.disableSubmit($('#{submit_id}'));",
                      :complete => "Raptor.enableSubmit($('#{submit_id}'));",
                      :html => html_tag(call_update, "form")) do |cu| -%>
<%=     cu.check_box :update_pmr, html_tag(call_update, "update-pmr") -%><%=
        do_label "Update PMR", "update-pmr", call_update %>
<%      content_tag :span, html_tag(call_update, 'action-span') do %>
<%=       cu.radio_button :update_type, "addtxt", html_tag(call_update, "addtxt-radio") -%><%=
          do_label "Add Text Only", "addtxt-radio", call_update %>
<%=       cu.radio_button :update_type, "requeue", html_tag(call_update, "requeue-radio") -%><%=
          do_label "Requeue", "requeue-radio", call_update %>
<%=       cu.radio_button :update_type, "dup", html_tag(call_update, "dup-radio") -%><%=
          do_label "Dup", "dup-radio", call_update %>
<%=       cu.radio_button :update_type, "close", html_tag(call_update, "close-radio") -%><%=
          do_label "Close", "close-radio", call_update %>
<%      end %>
<%=     tag("br") %>
<%=     send_mail_button(call_update) %>
<%      content_tag :span, html_tag(call_update, 'ct-span') do -%>
          <%= do_label "CT", "do-ct", call_update %><%=
              cu.check_box :do_ct, html_tag(call_update, "do-ct") %>
<%      end -%>
<%      content_tag :span, html_tag(call_update, 'ca-span') do -%>
<%        if call_update.call.pmr.special_application == "E" && call_update.call.p_s_b == "P" -%>
            <%= do_label "Electronic Requeue", "do-ca", call_update %><%=
                cu.check_box :do_ca, html_tag(call_update, "do-ca") %>
<%        end -%>
<%      end -%>
<%=     tag("br") %>
<%      content_tag :span, html_tag(call_update, 'requeue-span') do -%>
          New Queue
<%        content_tag :span, :class => 'input-with-list' do -%>
<%=         do_text_field cu, :new_queue, 12, call_update %>
<%          content_tag :span do -%>
<%            call_update.call.pmr.visited_queues.each do |queue| -%>
<%=             content_tag(:span, queue.to_param, :class => 'pick-list-item') + tag("br") %>
<%            end -%>
<%          end -%>
<%        end -%>
<%      end -%>
<%      content_tag :span, html_tag(call_update, 'priority-span') do -%>
          New Priority
<%=       do_text_field cu, :new_priority, 1, call_update %>
<%      end -%>
<%      content_tag :span, html_tag(call_update, 'service-given-span') do -%>
<%=       do_select_field(cu, :service_given,
	    Retain::ServiceGivenCode.find(:all), :service_given,
	    :description, call_update) %>
<%      end -%>
<%=     tag("br") %>
<%=     cu.text_area :newtxt, html_tag(call_update, "newtxt", :rows => 10, :cols => 72) %>
<%=     tag("br") %>
<%=     cu.check_box :add_time, html_tag(call_update, "add-time") %>Add Time
<%=     tag("br") %>
<%      content_tag :span, html_tag(call_update, 'add-time-span') do -%>
<%        cu.fields_for :psar_update, call_update.psar_update do |psar| -%>
            <%= do_select_field(psar, :sac,
		Retain::ServiceActionCauseTuple.find(:all), :id,
		:description, call_update) %>
	    <% content_tag :span, html_tag(call_update, 'apar-number-span') do -%>
	      <%= do_label "APAR:", "psar-apar-number", call_update %>
	      <%= do_text_field psar, :psar_apar_number, 7, call_update %>
	    <% end -%>
<%=         tag("br") %>
<%=         do_select_field(psar, :psar_solution_code,
	        Retain::SolutionCode.find(:all), :psar_solution_code,
	        :description, call_update) %>
<%=         do_label "Impact:", "psar_impact", call_update %>
<%=         do_text_field psar, :psar_impact, 1, call_update %>
<%=         tag("br") %>
            Time <span style='text-decoration: line-through'>wasted</span> spent
<%=         do_text_field psar, :hours, 2, call_update %>Hours
<%=         do_text_field psar, :minutes, 2, call_update %>Minutes
<%=         tag("br") %>
<%=         psar.check_box :alter_time, html_tag(call_update, "alter-time") %>
<%          content_tag :span, :class => 'alter-time-off' do -%>
              Set Stop Time
<%          end %>
<%          content_tag :span, :class => 'alter-time-on' do -%>
              Stop Time and Date:
<%=           do_text_field psar, :stop_year, 4, call_update %>/<%=
              do_text_field psar, :stop_month,2, call_update %>/<%=
              do_text_field psar, :stop_day, 2, call_update %>
<%=           do_text_field psar, :stop_hour, 2, call_update %>:<%=
              do_text_field psar, :stop_minute, 2, call_update %>
<%          end %>
<%        end %>
<%      end %>
<%=     tag("br") %>
<%=     cu.submit "Submit", html_tag(call_update, "submit") %>
<%    end -%>
<%  end -%>
