<!-- app/views/shared/retain/_call_update.html.erb -->
<%  extend Retain::CallUpdateHelper -%>
<%  content_tag :div, :style => 'border:solid 1px' do -%>
<%=   content_tag :span, "", html_tag(call_update, 'reply-span') %>
<%-   submit_id = id_for(call_update, "submit") -%>
<%-   remote_form_for(call_update,
                      :loading => "Raptor.disableSubmit($('#{submit_id}'));",
                      :complete => "Raptor.enableSubmit($('#{submit_id}'));",
                      :html => html_tag(call_update, "form")) do |cu| -%>
<%=     cu.check_box :update_pmr, html_tag(call_update, "update-pmr") -%>
        Update PMR
<%      content_tag :span, html_tag(call_update, 'action-span') do %>
<%=       cu.radio_button :update_type, "addtxt", html_tag(call_update, "addtxt-radio") -%>
          Add Text Only
<%=       cu.radio_button :update_type, "requeue", html_tag(call_update, "requeue-radio") -%>
          Requeue
<%=       cu.radio_button :update_type, "close", html_tag(call_update, "close-radio") -%>
          Close
<%      end %>
<%=     tag("br") %>
<%=     send_mail_button(call_update) %>
<%=     cu.check_box :do_ct, html_tag(call_update, "do-ct") %>CT
<%      content_tag :span, html_tag(call_update, 'requeue-span') do -%>
          New Queue
<%        content_tag :span, :class => 'input-with-list' do -%>
<%=         do_text_field cu, :new_queue, 12, call_update %>
<%          content_tag :span do -%>
<%            call_update.call.pmr.visited_queues.each do |queue| -%>
<%=             content_tag(:span, queue.to_param, :class => 'pick-list-item') + tag("br") %>
<%            end -%>
<%          end -%>
<%        end -%>
          New Priority
<%=       do_text_field cu, :new_priority, 1, call_update %>
          Service Given
<%=       do_text_field cu, :service_given, 2, call_update %>
<%      end -%>
<%=     tag("br") %>
<%=     cu.text_area :newtxt, html_tag(call_update, "newtxt", :rows => 10, :cols => 72) %>
<%=     tag("br") %>
<%=     cu.check_box :add_time, html_tag(call_update, "add-time") %>Add Time
<%      content_tag :span, html_tag(call_update, 'add-time-span') do -%>
<%        cu.fields_for :psar_update, call_update.psar_update do |psar| -%>
<%=         content_tag :label, "Service:", :for => id_for(call_update, "psar-service-code") %>
            <%= do_text_field psar, :psar_service_code, 2, call_update %>
            Action:
	    <%= do_text_field psar, :psar_action_code, 2, call_update %>
            Cause:
	    <%= do_text_field psar, :psar_cause, 2, call_update %>
            Solution:
<%=         do_text_field psar, :psar_solution, 1, call_update %>
            Impact:
<%=         do_text_field psar, :psar_impact, 1, call_update %>
<%=         tag("br") %>
            Time <span style='text-decoration: line-through'>wasted</span> spent
<%=         do_text_field psar, :hours, 2, call_update %>Hours
<%=         do_text_field psar, :minutes, 2, call_update %>Minutes
<%=         tag("br") %>
<%=         psar.check_box :alter_time, html_tag(call_update, "alter-time") %>
<%          content_tag :span, :class => 'alter-time-off' do -%>
              Set Stop Time
<%          end %>
<%          content_tag :span, :class => 'alter-time-on' do -%>
              Stop Time and Date:
<%=           do_text_field psar, :stop_year, 4, call_update %>/<%=
              do_text_field psar, :stop_month,2, call_update %>/<%=
              do_text_field psar, :stop_day, 2, call_update %>
<%=           do_text_field psar, :stop_hour, 2, call_update %>:<%=
              do_text_field psar, :stop_minute, 2, call_update %>
<%          end %>
<%        end %>
<%      end %>
<%=     tag("br") %>
<%=     cu.submit "Submit", html_tag(call_update, "submit") %>
<%    end -%>
<%  end -%>
