<%# -*- coding: utf-8 -*- -%>
<!-- <%= __FILE__[Rails.root.to_s.length+1 .. -1] %> -->
<p>
  <b>Service given:</b>
  <%=h @retain_service_given_code.service_given %>
</p>

<p>
  <b>Description:</b>
  <%=h @retain_service_given_code.description %>
</p>


<%= link_to 'Edit', edit_retain_service_given_code_path(@retain_service_given_code) %> |
<%= link_to 'Back', retain_service_given_codes_path %>
