<%# -*- coding: utf-8 -*- %>

<!-- app/views/layouts/shared/_body.html.erb -->
  <body>
    <% if divs.nil? || divs.empty? -%>
      <div>
	<%= render :partial => 'layouts/shared/display_flash' %>
	<%= yield %>
      </div>
    <% else -%>
      <% for div in divs -%>
        <div id="<%= div.to_s.gsub(/_/, '-') %>">
          <%= yield div  %>
        </div>
      <% end -%>
    <% end -%>
    <%= print_stats %>
    <%= push_page_settings %>
  </body>
