<%# -*- encoding: utf-8 -*- -%>
<%# Copyright 2007-2011 Ease Software, Inc. and Perry Smith -%>
<%# All Rights Reserved -%>
<!-- <%= __FILE__[Rails.root.to_s.length+1 .. -1] %> -->
<body class='<%= body_class %>'>
  <% if divs.nil? || divs.empty? -%>
    <div>
      <%= render :partial => 'layouts/shared/display_flash' %>
      <%= yield %>
    </div>
  <% else -%>
    <% for div in divs -%>
      <% if temp = yield(div) -%>
      <%   Rails.logger.debug("content for #{div} is encoded as #{temp.encoding}") -%>
      <%   temp = temp.encode('UTF-8') -%>
      <% end -%>
      <div id="<%= div.to_s.gsub(/_/, '-') %>">
	<%= temp %>
      </div>
    <% end -%>
  <% end -%>
  <%= push_page_settings %>
</body>
