<%# -*- coding: utf-8 -*- -%>
<!-- <%= __FILE__[Rails.root.to_s.length+1 .. -1] %> -->
<body>
  <% if divs.nil? || divs.empty? -%>
    <div>
      <%= render :partial => 'layouts/shared/display_flash' %>
      <%= yield %>
    </div>
  <% else -%>
    <% for div in divs -%>
      <div id="<%= div.to_s.gsub(/_/, '-') %>">
        <%= yield div %>
      </div>
    <% end -%>
  <% end -%>
  <%= push_page_settings %>
</body>
