<!-- app/views/layouts/shared/_header.html.erb -->
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <% if defined?(@refresh) && @refresh %>
    <meta http-equiv="refresh" content="<%= @refresh %>; URL=<%= request.env["REQUEST_URI"] %>">
    <% end %>
    <%= icon_tag('raptor') %>
    <title><%= h @title %></title>
    <%= stylesheet_link_tag(*stylesheets) unless stylesheets.nil? %>
    <%= javascript_include_tag(*javascript_files) unless javascript_files.nil? %>
    <script type='text/javascript'>
      pageSettings = {};
      pageSettings.authenticityToken = "<%= form_authenticity_token %>";
    </script>
  </head>
