<%# -*- coding: utf-8 -*- -%>
<%# Copyright 2007-2011 Ease Software, Inc. and Perry Smith
    All Rights Reserved -%>
<!-- <%= __FILE__[Rails.root.to_s.length+1 .. -1] %> -->
<% @title = "Center: #{@center.center}" %>
<table>
  <tr>
    <th>Software Center Mnemonic</th>
    <td><%= h @center.software_center_mnemonic %></td>
  </tr>
  <tr>
    <th>Center Daylight Time Flag</th>
    <td><%= h @center.center_daylight_time_flag %></td>
  </tr>
  <tr>
    <th>Delay To Time</th>
    <td><%= h @center.delay_to_time %></td>
  </tr>
  <tr>
    <th>Minutes From GMT</th>
    <td><%= h @center.minutes_from_gmt %></td>
  </tr>
  <tr>
    <th>Absorbed Queues</th>
    <td><%= h @center.absorbed_queue_list %></td>
  </tr>
</table>
