<h1>Editing name</h1>

<% form_for(@name) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :type %><br />
    <%= f.collection_select(:type, NameType.find(:all, :conditions => { :table_name => "names"}), :name_type, :name_type) %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @name %> |
<%= link_to 'Back', names_path %>
