<%# -*- coding: utf-8 -*- -%>
<% content_for :body do %>
  <!-- <%= __FILE__[Rails.root.to_s.length+1 .. -1] %> -->
  <table>
    <tr>
      <th>Type</th>
      <th>Name</th>
      <th>Match Pattern</th>
    </tr>

    <% @names.each do |name| %>
      <tr>
	<td><%=h name.type %></td>
	<td><%=h name.name %></td>
	<td><%=h name.match_pattern %></td>
	<td><%= link_to 'Show', name_path(name) %></td>
	<td><%= link_to 'Edit', edit_name_path(name) %></td>
	<td><%= link_to 'Destroy', name_path(name), :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
  </table>
<%- end -%>
<%= render :partial => 'shared/config_index',
      :locals => { :klass => Name, :parent => nil } %>
