<p>
  <b>Type:</b>
  <%=h @name.type %>
</p>

<p>
  <b>Name:</b>
  <%=h @name.name %>
</p>


<%= link_to 'Edit', edit_name_path(@name) %> |
<%= link_to 'Back', names_path %> |
<%= link_to 'New name', new_name_path %>
