<%# -*- coding: utf-8 -*- -%>
<%# Copyright 2007-2011 Ease Software, Inc. and Perry Smith -%>
<%# All Rights Reserved -%>
<% content_for :body do %>
  <!-- <%= __FILE__[Rails.root.to_s.length+1 .. -1] %> -->
  <table>
    <tr>
      <th>Name</th>
      <th>Default</th>
      <th>Position</th>
    </tr>

  <% @argument_types.each do |argument_type| %>
    <tr>
      <td><%=h argument_type.name %></td>
      <td><%=h argument_type.default %></td>
      <td><%=h argument_type.position %></td>
      <td><%= link_to 'Show', argument_type %></td>
      <td><%= link_to 'Edit', edit_argument_type_path(argument_type) %></td>
      <td><%= link_to 'Destroy', argument_type, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
  </table>
<%- end -%>
<%= render :partial => 'shared/config_index',
      :locals => { :klass => ArgumentType, :parent => nil } %>
