<%# -*- coding: utf-8 -*- -%>
<%# Copyright 2007-2011 Ease Software, Inc. and Perry Smith -%>
<%# All Rights Reserved -%>
<% content_for :body do %>
  <!-- <%= __FILE__[Rails.root.to_s.length+1 .. -1] %> -->
  <p>
    <b>Name:</b>
    <%=h @argument_type.name %>
  </p>

  <p>
    <b>Default:</b>
    <%=h @argument_type.default %>
  </p>

  <p>
    <b>Position:</b>
    <%=h @argument_type.position %>
  </p>
<%- end -%>
<%= render :partial => 'shared/config_show',
      :locals => { :name => @argument_type.name, :item => @argument_type, :parent => nil } %>
