<h1>Editing retain_user</h1>

<%= error_messages_for :retain_user %>

<% form_for(@retain_user) do |f| %>
  <p>
    <b>Retid</b><br />
    <%= f.text_field :retid %>
  </p>

  <p>
    <b>Password</b><br />
    <%= f.password_field :password %>
  </p>

  <p>
    <b>Retype your password</b><br />
    <%= f.password_field :password_confirmation %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @retain_user %> |
<%= link_to 'Back', retain_users_path %>
