<h1>Listing retain_users</h1>

<table>
  <tr>
    <th>Retid</th>
    <th>Password</th>
  </tr>

<% for retain_user in @retain_users %>
  <tr>
    <td><%=h retain_user.retid %></td>
    <td><%=h retain_user.password %></td>
    <td><%= link_to 'Show', retain_user %></td>
    <td><%= link_to 'Edit', edit_retain_user_path(retain_user) %></td>
    <td><%= link_to 'Destroy', retain_user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New retain_user', new_retain_user_path %>
