<%# -*- coding: utf-8 -*- -%>
<!-- <%= __FILE__[Rails.root.to_s.length+1 .. -1] %> -->
<%- @title = "Edit presentation: #{@presentation.name}" -%>
<%- content_for(:top) do -%>
  <h1><%= @title %></h1>
  <%= render :partial => 'layouts/shared/display_flash' %>
<%- end -%>
<%- content_for(:center) do -%>
<% form_for(@presentation) do |f| %>
  <%= f.error_messages %>
  <% not_owner = (@presentation.owner_id != @application_user.id) %>
  <%- if not_owner -%>
      <p>
	You do not own the selected presentation.  You may change the name and
	hit submit to create a copy of the presentation.
      </p>
  <%- end -%>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= label_tag("copy") %><br />
    <%= check_box_tag("copy", "true", not_owner) %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>
<%- end -%>
<%- content_for(:bottom) do -%>
<%= link_to 'Show', @presentation %> |
<%= link_to 'Back', presentations_path %>
<%- end -%>
