<h1>Listing combined_psars</h1>

<table>
  <tr>
    <th>PMR</th>
    <th>Chargeable Time</th>
    <th>Date</th>
  </tr>
  <%- regroup(@combined_psars).each do |week_name, week| -%>
  <%-   week_total = 0 -%>
  <%-   week.each do |day_name, day| -%>
  <%-     day_total = 0 -%>
  <%-     day.each do |psar| -%>
	    <tr>
	      <td><%=h psar.pmr.to_param %></td>
	      <td><%= chargeable_time(psar) %></td>
	      <td><%=h psar.psar_activity_date %></td>
	      <td><%= link_to 'Show', psar %></td>
	      <% if psar.psar_mailed_flag == "M" -%>
		<td>Mailed</td>
		<td>Mailed</td>
	      <% else -%>
		<td><%= link_to 'Edit', edit_combined_psar_path(psar) %></td>
		<td><%= link_to 'Destroy', psar, :confirm => 'Are you sure?', :method => :delete %></td>
	      <% end -%>
	    </tr>
  <%-       day_total += psar.chargeable_time_hex -%>
  <%-     end -%>
          <tr><td>Day Total</td><td><%= display_time(day_total) %></td></tr>
	  <tr><td>&nbsp;</td></tr>
  <%-     week_total += day_total -%>
  <%-   end -%>
        <tr><td>Week Total</td><td><%= display_time(week_total) %></td></tr>
        <tr><td>&nbsp;</td></tr>
  <%- end -%>
</table>
<%= link_to 'New psar', new_combined_psar_path %>
