<h1>Listing combined_psars</h1>

<table>
  <tr>
    <th>Pmr</th>
    <th>Chargeable Time</th>
    <th>Date</th>
  </tr>
<%- @combined_psars.sort{ |a, b| a.psar_activity_date <=> b.psar_activity_date }.group_by(&:psar_activity_date).each do |day, psars| -%>
<%-  total = 0 -%>
<%-  psars.each do |psar| -%>
<%-    total += psar.chargeable_time_hex -%>
       <tr>
         <td><%=h psar.pmr.to_param %></td>
         <td><%= chargeable_time(psar) %></td>
         <td><%=h psar.psar_activity_date %></td>
         <td><%= link_to 'Show', psar %></td>
         <% if psar.psar_mailed_flag == "M" -%>
           <td>Mailed</td>
           <td>Mailed</td>
         <% else -%>
           <td><%= link_to 'Edit', edit_combined_psar_path(psar) %></td>
           <td><%= link_to 'Destroy', psar, :confirm => 'Are you sure?', :method => :delete %></td>
         <% end -%>
       </tr>
<%-   end -%>
       <tr>
	 <td></td>
	 <td><%= display_time(total) %></td>
       </tr>
<%- end -%>
</table>
<%= link_to 'New psar', new_combined_psar_path %>
