<%# -*- coding: utf-8 -*- -%>
<!-- <%= __FILE__[Rails.root.to_s.length+1 .. -1] %> -->
<%- @title = "PSAR Listing" -%>
<%- content_for(:top) do -%>
  <h1>PSARs Listing</h1>
  <%= render :partial => 'layouts/shared/display_flash' %>
<%- end -%>
<%- content_for(:center) do -%>
  <ul id='psar-list'>
    <%- summarize(regroup(@combined_psars)).each do |week_name, week, week_total, week_hot_total| -%>
    <div class="collapsible">
      <%- week_id = "week" + week_name.strftime("%Y%m%d") -%>
      <a href="javascript:toggleTwisty('<%= week_id %>');" class='twisty-link'>
	Week of <%= week_name.strftime("%b %d") %> through <%= (week_name + 6.days).strftime("%b %d") %>:
	Total Time: <%= display_time(week_total) %> Hot: <%= display_time(week_hot_total) %>
	<%= image_tag "twisty-down.gif", :class => "twisty" %>
      </a>
      <div id="<%= week_id %>" class='week-div'>
	<div>
	  <%- week.each do |day_name, psars, day_total, day_hot_total| -%>
	  <div class="collapsible">
	    <%- day_id = "day" + day_name.strftime("%Y%m%d") -%>
	    <a href="javascript:toggleTwisty('<%= day_id %>');" class='twisty-link'>
	      <%= day_name.strftime("%a %b %d") %> Total Time: <%= display_time(day_total) %>
	      Hot: <%= display_time(day_hot_total) %>
	      <%= image_tag "twisty-down.gif", :class => "twisty" %>
	    </a>
	    <div id="<%= day_id %>" class='day-div'>
	      <div>
		<ul class='day-list'>
		  <%- psars.each do |psar| -%>
		  <li class='<%= psar.hot? ? "hot-psar" : "psar" %>'>
		    <span class='psar-pmr'>
		      <%= psar.pmr ? link_to(psar.pmr.to_param, combined_pmr_path(psar.pmr.to_param)) : "No PMR" %>
		    </span>
		    <span class='psar-time'>
		      <%= chargeable_time(psar) %>
		    </span>
		    <%- if false -%>
		    <%= Time.moc(psar.stop_time_moc) %>
		    <%= psar.minutes_from_gmt %>
		    <%= psar.pmr.customer.tz %>
		    <%= psar.psar_system_date %>
		    <%- end -%>
		    <span class='psar-show'>
		      <%= link_to 'Show', psar %>
		    </span>
		    <% if psar.psar_mailed_flag == "M" -%>
		    <span class='psar-mailed'>Mailed</span>
		    <% else -%>
		    <span class='psar-edit'>
		      <%= link_to 'Edit', edit_combined_psar_path(psar) %>
		    </span>
		    <span class='psar-destroy'>
		      <%= link_to 'Destroy', psar, :confirm => 'Are you sure?', :method => :delete %>
		    </span>
		    <% end -%>
		  </li>
		  <%- end -%>
		</ul>
	      </div>
	    </div>
	  </div>
	  <%- end -%>
	</div>
      </div>
    </div>
    <%- end -%>
  </ul>
<%- end -%>
<%- content_for(:bottom) do -%>
  <%= home_button %>
  <%= favorites_button %>
  <%= button_url 'New psar', new_combined_psar_path %>
  <%= button_url "Boyd's Thing", combined_psars_path(:ice_cream => 1) %>
<%- end -%>
