<p>
  <b>Pmr:</b>
  <%=h @combined_psar.pmr_id %>
</p>

<p>
  <b>Apar:</b>
  <%=h @combined_psar.apar_id %>
</p>

<p>
  <b>Queue:</b>
  <%=h @combined_psar.queue_id %>
</p>

<p>
  <b>Chargeable time hex:</b>
  <%=h @combined_psar.chargeable_time_hex %>
</p>

<p>
  <b>Cpu serial number:</b>
  <%=h @combined_psar.cpu_serial_number %>
</p>

<p>
  <b>Cpu type:</b>
  <%=h @combined_psar.cpu_type %>
</p>

<p>
  <b>Minutes from gmt:</b>
  <%=h @combined_psar.minutes_from_gmt %>
</p>

<p>
  <b>Psar action code:</b>
  <%=h @combined_psar.psar_action_code %>
</p>

<p>
  <b>Psar activity date:</b>
  <%=h @combined_psar.psar_activity_date %>
</p>

<p>
  <b>Psar activity stop time:</b>
  <%=h @combined_psar.psar_activity_stop_time %>
</p>

<p>
  <b>Psar actual time:</b>
  <%=h @combined_psar.psar_actual_time %>
</p>

<p>
  <b>Psar cause:</b>
  <%=h @combined_psar.psar_cause %>
</p>

<p>
  <b>Psar chargeable src ind:</b>
  <%=h @combined_psar.psar_chargeable_src_ind %>
</p>

<p>
  <b>Psar chargeable time:</b>
  <%=h @combined_psar.psar_chargeable_time %>
</p>

<p>
  <b>Psar cia:</b>
  <%=h @combined_psar.psar_cia %>
</p>

<p>
  <b>Psar fesn:</b>
  <%=h @combined_psar.psar_fesn %>
</p>

<p>
  <b>Psar file and symbol:</b>
  <%=h @combined_psar.psar_file_and_symbol %>
</p>

<p>
  <b>Psar impact:</b>
  <%=h @combined_psar.psar_impact %>
</p>

<p>
  <b>Psar mailed flag:</b>
  <%=h @combined_psar.psar_mailed_flag %>
</p>

<p>
  <b>Psar sequence number:</b>
  <%=h @combined_psar.psar_sequence_number %>
</p>

<p>
  <b>Psar service code:</b>
  <%=h @combined_psar.psar_service_code %>
</p>

<p>
  <b>Psar solution:</b>
  <%=h @combined_psar.psar_solution %>
</p>

<p>
  <b>Psar stop date year:</b>
  <%=h @combined_psar.psar_stop_date_year %>
</p>

<p>
  <b>Psar system date:</b>
  <%=h @combined_psar.psar_system_date %>
</p>

<p>
  <b>Stop time moc:</b>
  <%=h @combined_psar.stop_time_moc %>
</p>

<p>
  <b>Dirty:</b>
  <%=h @combined_psar.dirty %>
</p>


<%= link_to 'Edit', edit_combined_psar_path(@combined_psar) %> |
<%= link_to 'Back', combined_psars_path %>
