<%# -*- coding: utf-8 -*- -%>
<%# Copyright 2007-2011 Ease Software, Inc. and Perry Smith -%>
<%# All Rights Reserved -%>
<!-- <%= __FILE__[Rails.root.to_s.length+1 .. -1] %> -->
<h1>Listing membership_types</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @membership_types.each do |membership_type| %>
  <tr>
    <td><%=h membership_type.name %></td>
    <td><%= link_to 'Show', membership_type %></td>
    <td><%= link_to 'Edit', edit_membership_type_path(membership_type) %></td>
    <td><%= link_to 'Destroy', membership_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New membership_type', new_membership_type_path %>
