<p>
  <b>Container name:</b>
  <%=h @relationship.container_name_id %>
</p>

<p>
  <b>Relationship type:</b>
  <%=h @relationship.relationship_type_id %>
</p>

<p>
  <b>Element name:</b>
  <%=h @relationship.element_name_id %>
</p>

<p>
  <b>Owner:</b>
  <%=h @relationship.owner_id %>
</p>


<%= link_to 'Edit', edit_relationship_path(@relationship) %> |
<%= link_to 'Back', relationships_path %>