<p>
  <b>Container type:</b>
  <%=h @relationship.container_type.name_type %>
</p>

<p>
  <b>Association type:</b>
  <%=h @relationship.association_type.association_type %>
</p>

<p>
  <b>Element type:</b>
  <%=h @relationship.element_type.name_type %>
</p>


<%= link_to 'Edit', edit_relationship_path(@relationship) %> |
<%= link_to 'Back', relationships_path %>
