<%# -*- coding: utf-8 -*- -%>
<%# Copyright 2007-2011 Ease Software, Inc. and Perry Smith -%>
<%# All Rights Reserved -%>
<!-- <%= __FILE__[Rails.root.to_s.length+1 .. -1] %> -->
<% form_for(@assignment, :url => (@assignment.new_record? ? :qm_create_rotation_assignment : :qm_update_rotation_assignment)) do |f| %>
  <%= f.hidden_field :id unless @assignment.new_record? %>
  <%= f.hidden_field :rotation_group_id %>
  <%= f.hidden_field :assigned_by %>
  <%= f.hidden_field :assigned_to %>
  <p>
	<%= f.label :rotation_type %><br />
	<%= rotation_selection_list(f) %>
  </p>
  <p>
	<%= f.label :pmr %><br />
	<%= f.text_field :pmr, :size => 15 %>
  </p>
  <p>
	<%= f.label :notes %><br />
	<%= f.text_field :notes, :size => 15 %>
  </p>
  <p>
	<%= f.submit (@assignment.new_record? ? 'Create' : 'Update' ) %>
  </p>
<% end %>
