<%# -*- encoding: utf-8 -*- -%>
<%# Copyright 2007-2011 Ease Software, Inc. and Perry Smith -%>
<%# All Rights Reserved -%>
<h1>Listing argument_defaults</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Arguement position</th>
    <th>Default</th>
  </tr>

<% @argument_defaults.each do |argument_default| %>
  <tr>
    <td><%=h argument_default.name.name %></td>
    <td><%=h argument_default.argument_type.name %></td>
    <td><%=h argument_default.default %></td>
    <td><%= link_to 'Show', argument_default %></td>
    <td><%= link_to 'Edit', edit_argument_default_path(argument_default) %></td>
    <td><%= link_to 'Destroy', argument_default, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New argument_default', new_argument_default_path %>
