<%# -*- encoding: utf-8 -*- -%>
<%# Copyright 2007-2011 Ease Software, Inc. and Perry Smith -%>
<%# All Rights Reserved -%>
<h1>New argument_default</h1>

<% form_for(@argument_default) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name_id %><br />
    <%= f.collection_select(:name_id,
      Name.find(:all, :joins => "INNER JOIN name_types ON type = name_types.name " +
		"INNER JOIN argument_types ON argument_types.id = name_types.argument_type_id",
		:conditions => { "argument_types.position" => 0 }),
                :id, :name, { :include_blank => true }) %>
  </p>
  <p>
    <%= f.label :argument_position %><br />
    <%= f.collection_select(:argument_position, ArgumentType.find(:all), :position, :name, { :include_blank => true }) %>
  </p>
  <p>
    <%= f.label :default %><br />
    <%= f.text_field :default %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', argument_defaults_path %>
