<%# -*- coding: utf-8 -*- %>

<h1>Editing user</h1>

<%= error_messages_for :user %>

<% form_for(@user) do |f| %>
  <% if admin? %>
    <p>
      <%= f.label :admin %>
      <%= f.check_box :admin %>
    </p>
  <% end %>
  <p>
    <%= f.label :test_mode %>
    <%= f.check_box :test_mode %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @user %> |
<%= link_to 'Index of Users', users_path %>
 
