<h1>Editing user</h1>

<%= error_messages_for :user %>

<% form_for(@user) do |f| %>
  <% if admin? %>
    <p>
      <b>Admin</b><br />
      <%= f.check_box :admin %>
    </p>

    <p>
      <%= f.submit "Update" %>
    </p>
  <% else %>
    <p>Currently no fields are editable by users</p>
  <% end %>
<% end %>

<%= link_to 'Show', @user %> |
<%= link_to 'Index of Users, users_path %>
