<%# -*- coding: utf-8 -*- -%>
<%# Copyright 2007-2011 Ease Software, Inc. and Perry Smith
    All Rights Reserved -%>
<!-- <%= __FILE__[Rails.root.to_s.length+1 .. -1] %> -->
<h1>Editing user</h1>

<%= error_messages_for :user %>

<% form_for(@user, :url => { :namespace => :config}) do |f| %>
  <% if admin? %>
    <p>
      <%= f.label :admin %>
      <%= f.check_box :admin %>
    </p>
  <% end %>
  <p>
    <%= f.label :current_retuser_id %>
    <%= f.select(:current_retuser_id, retain_user_list(@user)) %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', config_user_path(@user) %> |
<%= link_to 'Index of Users', config_users_path %>
 
