<%# -*- coding: utf-8 -*- %>

<h1>Listing users</h1>

<table>
  <tr>
    <th>Ldap</th>
    <th>Test Mode</th>
    <th>Retain user</th>
    <% if admin? %>
      <th>Admin</th>
    <% end %>
  </tr>

<% for user in @users %>
  <tr>
    <td><%=h user.ldap_id %></td>
    <td><%=h user.test %></td>
    <% if user.retusers.empty? %>
      <td><%= link_to 'New Retain User Id', new_retuser_path %></td>
    <% else %>
      <td><%=link_to "#{user.retusers[0].retid}", user.retusers[0] %></td>
    <% end %>
    <% if admin? %>
      <td><%=h user.admin %></td>
    <% end %>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <% if admin? %>
      <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<% if admin? %>
  <%= link_to 'New user', new_user_path %>
<% end %>
