<%# -*- coding: utf-8 -*- %>

<h1>Listing users</h1>

<table>
  <tr>
    <th>Ldap</th>
    <th>Retain user</th>
    <% if admin? %>
      <th>Admin</th>
    <% end %>
  </tr>

<% for user in @users %>
  <tr>
    <td><%=h user.ldap_id %></td>
    <%#
      A user's current_retain_id can be in one of three states.  It
  can be set -- which is easy.  It can be null but the user has some
  retain ids defined.  In that case, we present a link to edit the
  user's record so it can be set.  Third, it can be null and the user
  does not have any retain ids set.  In that case, we present a link
  to define a new retain id.
      %>
    <% if user.current_retain_id.nil? %>
      <% if user.retusers.empty? %>
	<td><%= link_to 'New Retain User Id', new_user_retuser_path(user) %></td>
      <% else %>
	<td><%= link_to 'Pick Retain Id', edit_user_path(user) %></td>
      <% end %>
    <% else %>
      <td><%=link_to "#{user.current_retain_id.retid}", user_retuser_url(user, user.current_retain_id) %></td>
    <% end %>
    <% if admin? %>
      <td><%=h user.admin %></td>
    <% end %>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <% if admin? %>
      <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<% if admin? %>
  <%= link_to 'New user', new_user_path %>
<% end %>
