<h1>Listing users</h1>

<table>
  <tr>
    <th>Ldap</th>
    <th>Retain user</th>
    <% if admin? %>
      <th>Admin</th>
    <% end %>
  </tr>

<% for user in @users %>
  <tr>
    <td><%=h user.ldap_id %></td>
    <% if user.retain_user_id.nil? %>
      <td>None</td>
    <% else %>
      <td><%=link_to "#{user.retain_user_id}", retain_user_url(user.retain_user_id) %></td>
    <% end %>
    <% if admin? %>
      <td><%=h user.admin %></td>
    <% end %>
    <td><%= link_to 'Show', user %></td>
    <% if admin? %>
      <td><%= link_to 'Edit', edit_user_path(user) %></td>
      <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<% if admin? %>
  <%= link_to 'New user', new_user_path %>
<% end %>
