<p>
  <b>Ldap:</b>
  <%=h @user.ldap_id %>
</p>

<p>
  <b>Retain user:</b>
  <%=h @user.retain_user_id %>
</p>

<p>
  <b>Admin:</b>
  <%=h @user.admin %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
