<p>
  <b>Ldap:</b>
  <%=h @user.ldap_id %>
</p>

<p>
  <b>Retain user:</b>
  <% if @user.retain_user_id.nil? %>
    None
  <% else %>
    <%=link_to "#{@user.retain_user_id}", retain_user_url(@user.retain_user_id) %>
  <% end %>
</p>

<% if admin? %>
  <p>
    <b>Admin:</b>
    <%=h @user.admin %>
  </p>
<% end %>

<% if admin? %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Back', users_path %>
