<%# -*- coding: utf-8 -*- -%>
<p>
  <b>Ldap:</b>
  <%=h @user.ldap_id %>
</p>

<p>
  <b>Retain user:</b>
  <% if @user.current_retain_id.nil? %>
    <% if @user.retusers.empty? %>
      <td><%= link_to 'New Retain User Id', new_user_retuser_path(user) %></td>
    <% else %>
      <td><%= link_to 'Pick Retain Id', edit_user_path(user) %></td>
    <% end %>
  <% else %>
    <td><%=link_to "#{@user.current_retain_id.retid}", user_retuser_url(@user, @user.current_retain_id) %></td>
  <% end %>
</p>

<% if admin? %>
  <p>
    <b>Admin:</b>
    <%=h @user.admin %>
  </p>
<% end %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Index of Users', users_path %>
