<%# -*- coding: utf-8 -*- %>

<p>
  <b>Ldap:</b>
  <%=h @user.ldap_id %>
</p>

<p>
  <b>Retain user:</b>
  <% if @user.retuser.nil? %>
    <%= link_to 'New Retain User Id', new_retuser_path %>
  <% else %>
    <%=link_to "#{@user.retuser.retid}", retuser_url(@user.retusers[0]) %>
  <% end %>
</p>

<% if admin? %>
  <p>
    <b>Admin:</b>
    <%=h @user.admin %>
  </p>
<% end %>
  <p>
    <b>Test mode:</b>
    <%=h @user.test_mode %>
  </p>
  <%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Index of Users', users_path %>
