<%# -*- coding: utf-8 -*- -%>
<%# Copyright 2007-2014 Ease Software, Inc. and Perry Smith -%>
<%# All Rights Reserved -%>
<!-- <%= __FILE__[Rails.root.to_s.length+1 .. -1] %> -->
<%- content_for(:center) do -%>
  <h1>Listing of Rotation Groups</h1>

  <table>
    <tr>
      <th>Name</th>
      <th>Queue</th>
    </tr>

  <% @rotation_groups.each do |rotation_group| %>
    <tr>
      <td><%=h rotation_group.name %></td>
      <td><%=h rotation_group.queue.item_name %></td>
      <td><%= link_to_show_rotation_group(rotation_group, 'Show') %></td>
      <td><%= link_to_edit_rotation_group(rotation_group, 'Edit') %></td>
      <td><%= link_to_destroy_rotation_group(rotation_group, 'Delete') %></td>
    </tr>
  <% end %>
  </table>

  <br />

  <%= link_to_new_rotation_group %>
<%- end -%>
