<%# -*- coding: utf-8 -*- -%>
<%# Copyright 2007-2014 Ease Software, Inc. and Perry Smith -%>
<%# All Rights Reserved -%>
<!-- <%= __FILE__[Rails.root.to_s.length+1 .. -1] %> -->
<%- content_for(:center) do -%>
  <h1>New rotation_group</h1>

  <%= error_messages_for :rotation_group %>

  <% form_for([:settings, @rotation_group]) do |f| %>
    <%= f.error_messages %>

    <p>
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :queue %><br />
      <%= f.collection_select(:queue_id, Cached::Queue.all(:order => :queue_name), :id, :item_name, { :prompt => true }) %>
    </p>
    <p>
      <%= f.submit 'Create' %>
    </p>
  <% end %>

  <%= link_to_rotation_groups_list %>
<%- end -%>
