<%# -*- encoding: utf-8 -*- -%>
<%# Copyright 2007-2011 Ease Software, Inc. and Perry Smith -%>
<%# All Rights Reserved -%>
<!-- <%= __FILE__[Rails.root.to_s.length+1 .. -1] %> -->
<%-
    klass = item.class
    space_name = klass.to_s.underscore.gsub(/_/, ' ')
-%>
<h1><%= @title = "Show #{name} #{space_name}" %></h1>
<%= yield :body %>
<%= link_to 'Edit', parent ? edit_polymorphic_path([parent, item]) : edit_polymorphic_path(item) %> |
<%= link_to 'Back', parent ? polymorphic_path([parent, klass.to_s.underscore.pluralize]) : polymorphic_path(klass.to_s.underscore.pluralize) %> |
<%= link_to "New #{space_name}", parent ? new_polymorphic_path([parent, item]) : new_polymorphic_path(item) %>
