<%# -*- coding: utf-8 -*- -%>
<!-- <%= __FILE__[Rails.root.to_s.length+1 .. -1] %> -->
<h1>Welcome to Raptor</h1>
<p>
  Currently, Raptor is only a retain interface but I have hopes of
  extending it to include accessing CMVC and RP2.  In fact, I'd
  like for it to be able to do Apar drafts, send test cases, and a
  whole list of things.
</p>
<p>
  The easiest way to get set up is to go to the
  <%= link_to "favorite queues", favorite_queues_path %>
  page.  This will ask you for your intranet id and password and will
  set up a general user account for you.  On the favorate queues page,
  click the
  <%= link_to "New Favorite Queue", new_favorite_queue_path %>
  link.
</p>
<p>
  Note, you can go straight to the
  <%= link_to "New Favorite Queue", new_favorite_queue_path %>
  page but I wanted to show you that you can get a list of your
  favorite queues if you need to.  You can also add to your list of
  favorite Retain queues.  (O.k. using the words "favorite" and
  "Retain" in the same sentence is a glaring contradiction... but what
  else would you call them?)
</p>
<p>
  Once you have a favorite queue set up, you can click to show the
  queue from Retain.  The first time you do this, you will be
  detoured to a page asking for your retain id and password.  Once
  they are entered, you will continue on and be shown the Retain
  queue.
</p>
<p>
  Click on the PMR and it will show you the PMR.
</p>
<p>
  One thing that I would like for you to note.  As you go from
  page to page, glance up at the URL address.  You will notice
  that it is very clean and easy to remember.  Right now, the
  navigation is a bit weak.  I'm working on that.  But, it is
  fairly easy (not super easy) to guess what the URL for a
  particular item is going to be.  For example, to look at the
  pedz,165 queue, the address is retain_queue/pedz,165.  You can
  even add a ",h" suffix to look at hardware queues.  Calls follow
  the same pattern.  Currently, you can not go straight to a
  "problem" record.  You have to get to it from a "call" record
  (which you get from a queue).
</p>
<p>
  Other links
  <ul>
    <li><%= link_to('PSAR',
            combined_psars_path(:psar_start_date => Time.previous_saturday.strftime("%Y%m%d"))) %></li>
    <li><%= link_to('Feedback', feedbacks_path) %></li>
    <li><%= link_to('Registration', user_retusers_path(@user)) %></li>
  </ul>
</p>
