<%# -*- coding: utf-8 -*- -%>
<%# Copyright 2007-2011 Ease Software, Inc. and Perry Smith
    All Rights Reserved -%>
<!-- <%= __FILE__[Rails.root.to_s.length+1 .. -1] %> -->
<table>
  <tr>
    <td>Queue Name</td><td><%= @query.queue_name %></td>
  </tr>
  <tr>
    <td>Center</td><td><%= @query.center %></td>
  </tr>
  <tr>
    <td>Queue Level</td><td><%= @query.queue_level %></td>
  </tr>
  <tr>
    <td>Support Center</td><td><%= @query.software_center %></td>
  </tr>
  <tr>
    <td>Site</td><td><%= @query.site %></td>
  </tr>
  <tr>
    <td>Special Conditions</td><td><%= @query.special_conditions %></td>
  </tr>
  <tr>
    <td>Absorbed Queues</td><td><%= @query.absorbed_queue_list %></td>
  </tr>
</table>
<table>
  <thead>
    <tr>
      <td>Index</td>
      <% length = 0 %>
      <% if @query.signon2? %>
      <%   signon2s = @query.signon2s %>
      <%   length = [ length, signon2s.length].max %>
      <td>Sign On</td>
      <% end %>
      <%  if @query.name? %>
      <%    names = @query.names %>
      <%    length = [ length, names.length ].max %>
      <td>Name</td>
      <% end %>
      <% if @query.telephone_number? %>
      <%   telephone_numbers = @query.telephone_numbers %>
      <%   length = [ length, telephone_numbers.length ].max %>
      <td>Phone</td>
      <% end %>
      <% if @query.user_status_information? %>
      <%   user_status_informations = @query.user_status_informations %>
      <%   length = [ length, user_status_informations.length ].max %>
      <td>User Info</td>
      <% end %>
      <% if @query.queue_status_flag? %>
      <%   queue_status_flags = @query.queue_status_flags %>
      <%   length = [ length, queue_status_flags.length ].max %>
      <td>Queue Status</td>
      <% end %>
    </tr>
  </thead>
<!--
    <%= names %>
    -->
  <tbody>
    <% (0...length).each do |i| %>
    <tr>
      <td><%= i+1 %></td>
      <% if signon2s %>
      <td><%= signon2s[i] %></td>
      <% end %>
      <% if names %>
      <td><%= names[i] %></td>
      <% end %>
      <% if telephone_numbers %>
      <td><%= telephone_numbers[i] %></td>
      <% end %>      
      <% if user_status_informations %>
      <td><%= ("%s" % user_status_informations[i] ) %></td>
      <% end %>
      <% if queue_status_flags %>
      <td><%= ("%s" % queue_status_flags[i]) %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

