
<table>
  <tr>
    <td>Queue Name</td><td><%= @query.queue_name %></td>
  </tr>
  <tr>
    <td>Center</td><td><%= @query.center %></td>
  </tr>
  <tr>
    <td>Queue Level</td><td><%= @query.queue_level %></td>
  </tr>
  <tr>
    <td>Support Center</td><td><%= @query.support_center_binary %></td>
  </tr>
  <tr>
    <td>Site</td><td><%= @query.site %></td>
  </tr>
  <tr>
    <td>Signon</td><td><%= @query.signon2 %></td>
  </tr>
  <tr>
    <td>Name</td><td><%= @query.name %></td>
  </tr>
</table>
