<%# -*- coding: utf-8 -*- -%>
<%# Copyright 2007-2011 Ease Software, Inc. and Perry Smith -%>
<%# All Rights Reserved -%>
<% content_for :body do %>
  <!-- <%= __FILE__[Rails.root.to_s.length+1 .. -1] %> -->
  <% form_for(@widget) do |f| %>
    <%= f.error_messages %>

    <p>
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :code %><br />
      <%= f.text_area :code %>
    </p>
    <p>
      <%= f.label :match_pattern %><br />
      <%= f.text_field :match_pattern %>
    </p>
    <p>
      <%= f.submit 'Update' %>
    </p>
  <% end %>
<%- end -%>
<%= render :partial => 'shared/config_edit',
      :locals => { :name => @widget.name, :item => @widget, :parent => nil } %>
