<%# -*- coding: utf-8 -*- -%>
<% content_for :body do %>
  <!-- <%= __FILE__[Rails.root.to_s.length+1 .. -1] %> -->
  <table>
    <tr>
      <th>Name</th>
      <th>Owner</th>
      <th>Match Pattern</th>
    </tr>

  <% @widgets.each do |widget| %>
    <tr>
      <td><%=h widget.name %></td>
      <td><%=h widget.owner.ldap_id %></td>
      <td><%=h widget.match_pattern %></td>
      <td><%= link_to 'Show', widget %></td>
      <td><%= link_to 'Edit', edit_widget_path(widget) %></td>
      <td><%= link_to 'Destroy', widget, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
  </table>
<%- end -%>
<%= render :partial => 'shared/config_index',
      :locals => { :klass => Widget, :parent => nil } %>
