<%# -*- coding: utf-8 -*- -%>
<% content_for :body do %>
  <!-- <%= __FILE__[Rails.root.to_s.length+1 .. -1] %> -->
  <p>
    <b>Name:</b>
    <%=h @widget.name %>
  </p>
  <p>
    <b>Owner:</b>
    <%=h @widget.owner.ldap_id %>
  </p>
  <p>
    <b>Code:</b>
    <%=h @widget.code %>
  </p>
<%- end -%>
<%= render :partial => 'shared/config_show',
      :locals => { :name => @widget.name, :item => @widget, :parent => nil } %>
