<%# -*- encoding: utf-8 -*- -%>
<%# Copyright 2007-2014 Ease Software, Inc. and Perry Smith -%>
<%# All Rights Reserved -%>
<!-- <%= __FILE__[Rails.root.to_s.length+1 .. -1] %> -->
<%- @title = "Listing of Users" -%>
<%- content_for(:center) do -%>
  <h1><%= @title %></h1>
  
  <table>
    <tr>
      <th>Ldap</th>
      <th>Retain user</th>
      <% if admin? %>
	<th>Admin</th>
      <% end %>
    </tr>
    
    <% for user in @users %>
      <tr>
	<td><%=h user.ldap_id %></td>
	<%#
	  A user's current_retain_id can be in one of three states.  It
	    can be set -- which is easy.  It can be null but the user has some
	      retain ids defined.  In that case, we present a link to edit the
	        user's record so it can be set.  Third, it can be null and the user
		  does not have any retain ids set.  In that case, we present a link
		    to define a new retain id.
	%>
	<td><%= link_to_users_retain_id(user) %></td>
	<% if admin? %>
	  <td><%=h user.admin %></td>
	<% end %>
	<td><%= link_to_show_user(user, 'Show') %></td>
	<td><%= link_to_edit_user(user, 'Edit') %></td>
	<% if admin? %>
	  <td><%= link_to_destroy_user(user, 'Delete') %></td>
	<% end %>
      </tr>
    <% end %>
  </table>
  
  <br />
  <% if admin? -%>
    <%= link_to_new_user %>
  <%- end -%>
<%- end -%>
