<%# -*- coding: utf-8 -*- -%>
<%# Copyright 2007-2011 Ease Software, Inc. and Perry Smith -%>
<%# All Rights Reserved -%>
<!-- <%= __FILE__[Rails.root.to_s.length+1 .. -1] %> -->
<%- content_for(:center) do -%>
  <h1>New user</h1>

  <%= error_messages_for :user %>
  
  <% form_for([:settings, @user]) do |f| %>
    <p>
      <b>Ldap</b><br />
      <%= f.text_field :ldap_id %>
    </p>
    
    <p>
      <b>Admin</b><br />
      <%= f.check_box :admin %>
    </p>
    
    <p>
      <%= f.submit "Create" %>
    </p>
  <%- end -%>
  <%= link_to 'Index of Users', settings_users_path %>
<%- end -%>
