
<table>
  <tr><th>APAR</th><td><%= @apar.apar_number %></td></tr>
  <tr><th>Fix Component</th><td><%= @apar.apar_fix_component %></td></tr>
  <tr><th>Fix Component Name</th><td><%= @apar.apar_fix_component_name %></td></tr>
  <tr><th>Problem Error Description</th><td>
      <% for line in @apar.problem_error_descriptions %>
      <%= line %></br>
      <% end %>
  </td></tr>
  <tr><th>Problem Summary</th><td>
      <% for line in @apar.apar_problem_summaries %>
      <%= line %></br>
      <% end %>
  </td></tr>
</table>

