<%# -*- coding: utf-8 -*- %>


<table rules="all" border="1px" >
  <% @apar.fields.fields.each_key do |sym| -%>
  <%   value = @apar.send(sym.pluralize) -%>
    <tr>
      <th><%= sym -%></th>
      <td>
	<% if value.is_a? Array -%>
	<%   value.each do |v| -%>
	<%=    v %><br/>
	<%   end -%>
	<% else -%>
	<%=  value %>
	<% end -%>
      </td>
    </tr>
  <% end -%>
  <% @apar.fields.raw_values.each_with_index do |temp, index| -%>
  <%   next if temp.nil? -%>
  <%   sym = Retain::Fields.index_to_sym(index).pluralize -%>
  <%   value = @apar.send(sym) -%>
    <tr>
      <th><%= sym -%></th>
      <td>
	<% if value.is_a? Array -%>
	<%   value.each do |v| -%>
	<%=    v %><br/>
	<%   end -%>
	<% else -%>
	<%=  value %>
	<% end -%>
      </td>
    </tr>
  <% end -%>
</table>

