<%# -*- coding: utf-8 -*- -%>
<%# Copyright 2007-2011 Ease Software, Inc. and Perry Smith -%>
<%# All Rights Reserved -%>
<!-- <%= __FILE__[Rails.root.to_s.length+1 .. -1] %> -->
<%- @title = "Listing Retain Users" -%>
<%- content_for(:center) do -%>
  <%= render :partial => 'layouts/shared/display_flash' %>
  <h1><%= @title %></h1>
  <table>
    <tr>
      <th>User</th>
      <th>Retain Id</th>
      <th>Failed</th>
      <th>Return Value</th>
      <th>Reason</th>
      <th>Software Node</th>
      <th>Hardware Node</th>
    </tr>
    
    <% for retuser in @retusers %>
      <tr>
	<td><%=h retuser.user.ldap_id %></td>
	<td><%=h retuser.retid %></td>
	<td><%=h retuser.failed %></td>
	<td><%=h retuser.logon_return %></td>
	<td><%=h retuser.logon_reason %></td>
	<td><%=h retuser.software_node.description %></td>
	<td><%=h retuser.hardware_node.description %></td>
	<td><%= link_to 'Show', settings_user_retuser_path(@user, retuser) %></td>
	<td><%= link_to 'Edit', edit_settings_user_retuser_path(@user, retuser) %></td>
	<% if admin? %>
	  <td><%= link_to 'Destroy', settings_user_retuser_path(@user, retuser), :confirm => 'Are you sure?', :method => :delete %></td>
	<% end %>
      </tr>
    <% end %>
  </table>
  
  <br/>
  <%= link_to 'Create Retain User Id', new_settings_user_retuser_path(@user) %>
  <%= link_to 'Back to User', settings_user_path(@user) %>
<%- end -%>
