<%# -*- coding: utf-8 -*- -%>
<%# Copyright 2007-2014 Ease Software, Inc. and Perry Smith -%>
<%# All Rights Reserved -%>
<!-- <%= __FILE__[Rails.root.to_s.length+1 .. -1] %> -->
<%- @title = "New Retain User" -%>
<%- content_for(:center) do -%>
  <%= render :partial => 'layouts/shared/display_flash' %>
  <h1><%= @title %></h1>
  <%= error_messages_for :retuser %>

  <% form_for([:settings, @user, @retuser]) do |f| %>
    <p>
      <b>Retain Id</b><br />
      <%= f.text_field :retid %>
    </p>
    <p>
      <b>APPTEST</b> (Leave off for normal production use)<br />
      <%= f.check_box :apptest %>
    </p>
    
    <p>
      <b>Password</b><br />
      <%= f.password_field :password %>
    </p>
    
    <p>
      <b>Retype your password</b><br />
      <%= f.password_field :password_confirmation %>
    </p>
    
    <p>
      <%= f.submit "Create" %>
    </p>
  <% end %>
  
  <%= link_to_show_user(@user) %> |
  <%= link_to_list_retusers(@user) %>
<%- end -%>
