<%# -*- coding: utf-8 -*- -%>
<%# Copyright 2007-2011 Ease Software, Inc. and Perry Smith -%>
<%# All Rights Reserved -%>
<!-- <%= __FILE__[Rails.root.to_s.length+1 .. -1] %> -->
<%- @title = "Show Retain User" -%>
<%- content_for(:center) do -%>
  <%= render :partial => 'layouts/shared/display_flash' %>
  <h1><%= @title %></h1>
  <p>
    <b>User:</b>
    <%=h @retuser.user.ldap_id %>
  </p>
  <p>
    <b>Retain Id:</b>
    <%=h @retuser.retid %>
  </p>
  <p>
    <b>Failed:</b>
    <%=h @retuser.failed %>
  </p>
  <p>
    <b>Return Value:</b>
    <%=h @retuser.logon_return %>
  </p>
  <p>
    <b>Reason:</b>
    <%=h @retuser.logon_reason %>
  </p>
  <p>
    <b>Software Node:</b>
    <%- if admin? -%>
      <%= link_to @retuser.software_node.description, retain_node_selector_path(@retuser.software_node) %>
    <%- else -%>
      <%=h @retuser.software_node.description %>
    <%- end -%>
  </p>
  <p>
    <b>Hardware Node:</b>
    <%- if admin? -%>
      <%= link_to @retuser.hardware_node.description, retain_node_selector_path(@retuser.hardware_node) %>
    <%- else -%>
      <%=h @retuser.hardware_node.description %>
    <%- end -%>
  </p>
  
  <%= link_to_edit_retuser(@user, @retuser) %> |
  <%= link_to_show_user(@user) %> |
  <%= link_to_list_retusers(@user) %>
<%- end -%>
