<p>
  <b>Problem:</b>
  <%=h @retain_pmr.problem %>
</p>

<p>
  <b>Branch:</b>
  <%=h @retain_pmr.branch %>
</p>

<p>
  <b>Country:</b>
  <%=h @retain_pmr.country %>
</p>


<%= link_to 'Edit', edit_retain_pmr_path(@retain_pmr) %> |
<%= link_to 'Back', retain_pmrs_path %>
