<!-- retain/call/show.html.erb -->

<% @title = "Retain call: #{@call.pbc}" %>
<% content_for(:top) do %>
  <div id='line1'>
    <span id='queue' class='field-left'>
      <span id='queue-header' class='field-header'>
	Queue
      </span>
      <span id='queue-spec' class='field'>
	<%= link_to @call.short_queue_name, retain_queue_path(@call.full_queue_name) %>
      </span>
    </span>
    <span id='pbc' class='field field-center'>
      <%= h @call.pbc %>
    </span>
    <span id='pri-sev' class='field-right'>
      <span id='pri-sev-header' class='field-header'>
	P/S
      </span>
      <span id='pri-sev-spec' class='field'>
	<%= h @call.priority %>/<%= h @pmr.severity %>
      </span>
    </span>
  </div>
  <div id='line2'>
    <span id='owner' class='field-left'>
      <span id='owner-header' class='field-header'>
	Owner
      </span>
      <span id='owner-spec' class='field'>
	<%= h @pmr.pmr_owner_name %>
	<span class='inplace-edit' href='<%= retain_call_path(@call) %>' value='pmr_owner_employee_number'>
	  <%= h @pmr.pmr_owner_employee_number %>
	</span>
      </span>
    </span>
    <span id='customer-name' class='field field-center'>
      <%= h @call.nls_customer_name %>
    </span>
    <span id='resolver' class='field-right'>
      <span id='resolver-header' class='field-header'>
	Resolver
      </span>
      <span id='resolver-spec' class='field'>
	<%= h @pmr.resolver_name %>
	<span class='inplace-edit' href='<%= retain_call_path(@call) %>' value='resolver_id'>
	  <%= h @pmr.resolver_id %>
	</span>
      </span>
    </span>
  </div>
  <div id='line3'>
    <span id='comp' class='field-left'>
      <span id='comp-header' class='field-header'>
	Comp
      </span>
      <span id='comp-spec' class='field'>
	<%= h @call.comp_id_or_alias %>
      </span>
    </span>
    <span id='comments' class='field field-center'>
      <%= h @call.comments %>
    </span>
    <span class='field-right'>
    </span>
  </div>
  <div id='line4'>
    <span id='click-header'>Click to view:</span>
    <span id='ecpaat-header'  class='click-tag' for='ecpaat-lines'>ECPAAT</span>,
    <span id='scratch-header' class='click-tag' for='scratch-lines'>Scratch Pad</span>,
    <span id='contact-header' class='click-tag' for='contact-lines'>Contact Info</span><br/>
    <span id='ecpaat-lines' class='click-data'>
      <%= @ecpaat_lines %>
    </span>
    <span id='scratch-lines' class='click-data'>
      <%= h @pmr.nls_scratch_pad_1 %><br/>
      <%= h @pmr.nls_scratch_pad_2 %><br/>
      <%= h @pmr.nls_scratch_pad_3 %><br/>
    </span>
    <span id='contact-lines' class='click-data'>
      <%= h @call.nls_contact_name %><br/>
      <%= h @call.contact_phone_1 %><br/>
      <%= h @call.contact_phone_2 %><br/>
    </span>
  </div>
<% end %>

<% content_for(:center) do %>
  <div class='even'>
    <% @text_lines.each_with_index do |line, index| %>
      <%= show_line(line, index) %>
    <% end %>
  </div>
<% end %>

<% content_for(:left) do %>
  <table>
  <% @text_lines.each_with_index do |line, index| %>
  <%   if line.line_type == 0x3d %>
  <%     md = Regexp.new(' S5> (SERVICE GIVEN= ([0-9][0-9]))  SG/19/').match(line.text) %>
  <%     unless md.nil? || md[2] == "99" %>
    <tr>
      <td>
	&nbsp;
      </td>
      <td>
	<%= "<a href='#line_#{index}'>#{md[1]}</a>" %>
      </td>
    </tr>
  <%     end %>
  <%   end %>
  <%   if line.line_type == 0x3f %>
  <%     sig_line = Retain::SignatureLine.new(line.text) %>
  <%     unless sig_line.name.nil? || sig_line.stype.nil? %>
    <tr>
      <td colspan='2'>
	<%= "<a href='#line_#{index}'>#{sig_line.name}</a>" %>
      </td>
      <td>
	<%= "<a href='#line_#{index}'>#{sig_line.stype}</a>" %>
      </td>
    </tr>
  <%     end %>
  <%   end %>
  <% end %>
  </table>
<% end %>

<% content_for(:right) do %>
  <% (0 ... (@text_lines.length / 16)).each do |page_number| %>
  <%=  "<a href='#line_#{page_number * 16}'>Page #{page_number + 2}</a><br/>" %>
  <% end %>
<% end %>
