<h1>Listing queues</h1>

<table>
  <tr>
<% if admin? %>
    <th>User</th>
<% end %>
    <th>Queue name</th>
    <th>Center</th>
  </tr>

<% for retain_queue in @retain_queues %>
  <tr>
<% if admin? %>
    <td><%=h retain_queue.user_id %></td>
<% end %>
    <td><%=h retain_queue.queue_name %></td>
    <td><%=h retain_queue.center %></td>
    <td><%= link_to 'Show', retain_queue %></td>
    <td><%= link_to 'Edit', edit_retain_queue_path(retain_queue) %></td>
    <td><%= link_to 'Destroy', retain_queue, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Retain Queue', new_retain_queue_path %>
