<!-- retain/queue/show.html.erb -->
<% @title = "Retain queue: #{@queue.to_param}" -%>
<% content_for(:top) do %>
  <h1>Retain Queue: <%= h @queue.to_param %></h1>
<% end %>
<% content_for(:center) do %>
  <div class="smaller">
    <%= link_to 'Index of Favorite Queues', combined_favorite_queues_path %>
    <table class='sortable' style='font-family : courier, monospace'>
      <thead>
	<tr>
	  <th colspan='10'>
	    Click on column headings to sort by that column
	  </th>
	</tr>
	<tr>
	  <th>Sel#</th>
	  <th>Prblm,bnc,cty</th>
	  <th>S</th>
	  <th>Owner</th>
	  <th>Resolver</th>
	  <th>Next Queue</th>
	  <th>Age</th>
	  <th>Jeff Smith<br>Sev Days</th>
	  <th>Last CT</th>
	  <th>Next CT</th>
	</tr>
      </thead>
      <tbody>
	<% @queue.calls.each_with_index do |call, index| -%>
          <tr>
  	    <td><%= button_url(index += 1, call) %></td>
  	    <td><%= link_to call.pmr.pbc, call %></td>
  	    <td><%= call.p_s_b %></td>
	    <%= owner(call) %>
	    <%= resolver(call) %>
	    <%= next_queue(call) %>
	    <%= age(call) %>
	    <%= jeff(call) %>
	    <%= last_ct(call) %>
	    <%= next_ct(call) %>
  	  </tr>
        <% end -%>
      </tbody>
    </table>
  </div>
<% end %>
<% content_for(:bottom) do %>
  <div>
    <%= button_url("Home", "/") %>
  </div>
<% end %>
