<!-- retain/queue/show.html.erb -->
<% @title = "Retain queue: #{@queue.to_param}" -%>
<% content_for(:top) do %>
  <h1>Retain Queue: <%= h @queue.to_param %></h1>
<% end %>
<% content_for(:center) do %>
  <div class="smaller">
    <table class='sortable' style='font-family : courier, monospace'>
      <thead>
	<tr>
	  <th colspan='10'>
	    Click on column headings to sort by that column
	  </th>
	</tr>
	<tr>
	  <th>Sel#</th>
	  <th>Prblm,bnc,cty</th>
	  <th>S</th>
	  <th>P/S</th>
	  <th>Owner</th>
	  <th>Resolver</th>
	  <th>Next Queue</th>
	  <th>Age</th>
	  <th>
	    <span title='Jeff Smith originated the concept of Severity Days.  He was the original level two manager of the AIX RS/6000 version 3 change team'>JS</span>
	    <br>
	    <span title='Severity Days is the age of the PMR in days multiplied by a factor based upon the current severity'>SevD</span>
	  </th>
	  <th>Customer Time of Day</th>
	  <th>Last CT</th>
	  <th>Next CT</th>
	</tr>
      </thead>
      <tbody>
	<% @queue.calls.each_with_index do |call, index| -%>
          <tr class='<%= call_class(call) %>'>
  	    <td><%= button_url(index += 1, call) %></td>
  	    <td><%= link_to call.pmr.pbc, call %></td>
  	    <td><%= call.p_s_b %></td>
	    <%= pri_sev(call) %>
	    <%= owner(call) %>
	    <%= resolver(call) %>
	    <%= next_queue(call) %>
	    <%= age(call) %>
	    <%= jeff(call) %>
	    <%= cust_tod(call) %>
	    <%= last_ct(call) %>
	    <%= next_ct(call) %>
  	  </tr>
        <% end -%>
      </tbody>
    </table>
  </div>
<% end %>
<% content_for(:bottom) do %>
  <ul style='color: green'>
    <li>Setting of Next Queue is fixed</li>
    <li>"Customer Time of Day" likely will go away -- let me know if you want it to stay</li>
    <li>"Last CT" likely will go away -- let me know if you want it to stay</li>
    <li>By the way, type "Home" and hit return to go home.  Similar
    for all buttons. e.g. 1&lt;return&gt; will show the first
    call</li>
  </ul>
  <div>
    <%= button_url("Home", "/") %>
    <%= button_url 'Favorite Queues', combined_favorite_queues_path %>
  </div>
<% end %>
