<h1>Editing a favorite queue</h1>

<%= error_messages_for :queue %>

<% form_for(@retain_favorite_queue) do |f| %>
<% if admin? %>
  <p>
    <b>User</b><br />
    <%= f.text_field :user_id %>
  </p>
<% end %>

  <p>
    <b>Queue name</b><br />
    <%= f.text_field :queue_name %>
  </p>

  <p>
    <b>Center</b><br />
    <%= f.text_field :center %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @retain_favorite_queue %> |
<%= link_to 'Index of Favorite Queues', retain_favorite_queues_path %>
