<h1>Listing favorite queues</h1>

<table>
  <tr>
<% if admin? %>
    <th>User</th>
<% end %>
    <th>Queue</th>
    <th>Center</th>
    <th>H/S</th>
    <th>Calls</th>
  </tr>

<% for retain_favorite_queue in @retain_favorite_queues %>
<%   queue = retain_favorite_queue.queue %>
  <tr>
<% if admin? %>
    <td><%=h queue.user_id %></td>
<% end %>
    <td><%=h q = queue.queue_name.gsub(/ /, '') %></td>
    <td><%=h c = queue.center %></td>
    <td><%=h s = queue.h_or_s %></td>
    <td align='right'><%= h queue_hits(queue) %></td>
    <td><%= link_to 'Queue', retain_queue_path("#{q},#{c},#{s}") %></td>
    <td><%= link_to 'Show', retain_favorite_queue %></td>
    <td><%= link_to 'Edit', edit_retain_favorite_queue_path(retain_favorite_queue) %></td>
    <td><%= link_to 'Destroy', retain_favorite_queue, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Favorite Queue', new_retain_favorite_queue_path %>
