<h1>Listing favorite queues</h1>

<table>
  <tr>
<% if admin? %>
    <th>User</th>
<% end %>
    <th>Queue</th>
    <th>Center</th>
    <th>H/S</th>
    <th>Calls</th>
  </tr>

<% for favorite_queue in @favorite_queues %>
<%   queue = favorite_queue.queue %>
  <tr>
<% if admin? %>
    <td><%=h queue.user_id %></td>
<% end %>
    <td><%=h queue.queue_name.gsub(/ /, '') %></td>
    <td><%=h queue.center %></td>
    <td><%=h queue.h_or_s %></td>
    <td align='right'><%= h queue_hits(queue) %></td>
    <td><%= link_to 'Queue', queue %></td>
    <td><%= link_to 'Show', favorite_queue %></td>
    <td><%= link_to 'Edit', edit_polymorphic_path(favorite_queue) %></td>
    <td><%= link_to 'Destroy', favorite_queue, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Favorite Queue', new_combined_favorite_queue_path %>
