<% if admin? %>
  <p>
    <b>User:</b>
    <%=h @retain_favorite_queue.user_id %>
  </p>
<% end %>

<p>
  <b>Queue:</b>
  <%=h q = @retain_favorite_queue.queue_name.gsub(/ /, '') %>,
  <%=h c = @retain_favorite_queue.center %>
  <%= link_to 'Edit Settings', edit_retain_favorite_queue_path(@retain_favorite_queue) %> |
  <%= link_to 'Index of favorite queues', retain_favorite_queues_path %> |
  <%= link_to 'Show Retain Queue', retain_queue_path("#{q},#{c}") %>
</p>
