<% if admin? %>
  <p>
    <b>User:</b>
    <%=h @favorite_queue.user_id %>
  </p>
<% end %>

<p>
  <b>Queue:</b>
  <% queue = @favorite_queue.queue %>
  <%=h q = queue.queue_name.gsub(/ /, '') %>,<%=h c = queue.center %>,<%=h s = queue.h_or_s %>
  <%= link_to 'Edit Settings', edit_combined_favorite_queue_path(@favorite_queue) %> |
  <%= link_to 'Index of favorite queues', combined_favorite_queues_path %> |
  <%= link_to 'Show Retain Queue', combined_queue_path("#{q},#{c},#{s}") %>
</p>
