<%# -*- coding: utf-8 -*- %>

<% @title = "New Favorite Queue" %>
<% @stylesheets = "favorite_queues" -%>
<% @javascripts = "favorite_queues" -%>
<% content_for(:center) do %>
<!-- favorite_queues/new.html.erb -->
  <h1>Create a favorite Retain queue</h1>
  
  <%= error_messages_for :queue %>
  
  <% form_for(@favorite_queue) do |f| %>
  <%   fields_for @favorite_queue.queue do |queue| %>
    <p>
      <b>Queue name</b><br />
      <%= queue.text_field :queue_name, :size => 6 %>
    </p>
  
    <p>
      <b>Hardware (H) or Software (S)</b><br />
      <%= queue.text_field :h_or_s, :size => 1 %>
    </p>
  <% end %>
    
  <% fields_for @favorite_queue.queue.center do |center| %>
    <p>
      <b>Center</b><br />
      <%= center.text_field :center, :size => 3 %>
    </p>
  <% end %>
    <p>
      <%= f.submit "Create" %>
    </p>
  <% end %>

  <%= button_url 'Index of Favorite Queues', favorite_queues_path %>
<% end %>
