<%# -*- coding: utf-8 -*- -%>
<%# Copyright 2007-2011 Ease Software, Inc. and Perry Smith -%>
<%# All Rights Reserved -%>
<% queue = @favorite_queue.queue.wrap_with_combined %>
<% @title = "Show Favorite Queue #{queue.to_param}" %>
<% @stylesheets = "favorite_queues" -%>
<% @javascripts = "favorite_queues" -%>
<% content_for(:center) do %>
<!-- <%= __FILE__[Rails.root.to_s.length+1 .. -1] %> -->
  <p>
    <b>Queue:</b>
    <%=h queue.to_param %><br/>
    <%= button_url('Edit Settings', edit_polymorphic_path(@favorite_queue)) %>
    <%= button_url 'New Favorite Queue', new_favorite_queue_path %>
    <%= button_url 'Index of favorite queues', favorite_queues_path %>
    <%= button_url queue.to_param, combined_q_url(queue.to_param) %>
  </p>
<% end %>
