<h1>Listing name_types</h1>

<table>
  <tr>
    <th>Type</th>
  </tr>

<% @name_types.each do |name_type| %>
  <tr>
    <td><%=h name_type.type %></td>
    <td><%= link_to 'Show', name_type %></td>
    <td><%= link_to 'Edit', edit_name_type_path(name_type) %></td>
    <td><%= link_to 'Destroy', name_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New name_type', new_name_type_path %>