<p>
  <b>Type:</b>
  <%=h @name_type.name_type %>
</p>
<p>
  <b>Table Name:</b>
  <%=h @name_type.table_name %>
</p>
<p>
  <b>Argument Type:</b>
  <%=h @name_type.argument_type.name %>
</p>
<p>
  <b>This is a container:</b>
  <%=h @name_type.container %>
</p>
<p>
  <b>This can be in a container:</b>
  <%=h @name_type.containable %>
</p>


<%= link_to 'Edit', edit_name_type_path(@name_type) %> |
<%= link_to 'Back', name_types_path %> |
<%= link_to 'New name_type', new_name_type_path %>
