<p>
  <b>Type:</b>
  <%=h @name_type.name_type %>
</p>
<p>
  <b>This is a container:</b>
  <%=h @name_type.container %>
</p>
<p>
  <b>This can be in a container:</b>
  <%=h @name_type.containable %>
</p>


<%= link_to 'Edit', edit_name_type_path(@name_type) %> |
<%= link_to 'Back', name_types_path %>
