<%# -*- coding: utf-8 -*- -%>
<%# Copyright 2007-2011 Ease Software, Inc. and Perry Smith -%>
<%# All Rights Reserved -%>
<!-- <%= __FILE__[Rails.root.to_s.length+1 .. -1] %> -->
<h1>Listing feedbacks</h1>

<table>
  <tr>
    <th>Abstract</th>
    <th>Priority</th>
    <th>Ftype</th>
    <th>State</th>
  </tr>

<% for feedback in @feedbacks %>
  <tr>
    <td><%=h feedback.abstract %></td>
    <td><%=h feedback.priority %></td>
    <td><%=h feedback.ptype %></td>
    <td><%=h feedback.pstate %></td>
    <td><%= link_to 'Show', feedback %></td>
    <td><%= link_to 'Edit', edit_feedback_path(feedback) %></td>
    <td><%= link_to 'Destroy', feedback, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New feedback', new_feedback_path %>
