<%# -*- coding: utf-8 -*- -%>
<%# Copyright 2007-2014 Ease Software, Inc. and Perry Smith -%>
<%# All Rights Reserved -%>
<!-- <%= __FILE__[Rails.root.to_s.length+1 .. -1] %> -->
<%- @title = "Editing #{@rotation_group_member.name} of rotation group #{@rotation_group.name}" -%>
<%- content_for(:center) do -%>
  <h1><%= @title %></h1>
  <%= error_messages_for :retuser %>
  <% form_for([:settings, @rotation_group, @rotation_group_member]) do |f| %>
    <p>
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :user_id, "Intranet Id" %><br />
      <%= f.collection_select(:user_id, User.all(:order => :ldap_id), :id, :ldap_id, { :prompt => true }) %>
    </p>
    <p>
      <%= f.label :active %><br />
      <%= f.check_box :active %>
    </p>
    <p>
      <%= f.submit 'Update' %>
    </p>
  <% end %>

  <%= link_to_show_group_member(@rotation_group, @rotation_group_member) %> |
  <%= link_to_group_members_list(@rotation_group) %>
<%- end -%>
