<%# -*- coding: utf-8 -*- -%>
<!-- <%= __FILE__[Rails.root.to_s.length+1 .. -1] %> -->
<h1>Editing level</h1>

<% form_for(@level) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

  <% f.fields_for :condition do |condition| %>
    <p>
      <%= condition.label :sql %><br />
      <%= condition.text_field :sql %>
    </p>
  <% end %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @level %> |
<%= link_to 'Back', levels_path %>
