<%# -*- encoding: utf-8 -*- -%>
<%# Copyright 2007-2011 Ease Software, Inc. and Perry Smith -%>
<%# All Rights Reserved -%>
<!-- <%= __FILE__[Rails.root.to_s.length+1 .. -1] %> -->
<p>
  <b>Psar solution code:</b>
  <%=h @retain_solution_code.psar_solution_code %>
</p>

<p>
  <b>Description:</b>
  <%=h @retain_solution_code.description %>
</p>


<%= link_to 'Edit', edit_retain_solution_code_path(@retain_solution_code) %> |
<%= link_to 'Back', retain_solution_codes_path %>
