<%# -*- coding: utf-8 -*- %>
<%# Copyright 2007-2011 Ease Software, Inc. and Perry Smith -%>
<%# All Rights Reserved -%>
<% content_for :body do %>
  <!-- <%= __FILE__[Rails.root.to_s.length+1 .. -1] %> -->
  <p>
    <b>Name:</b>
    <%=h @view.name %>
  </p>
  <p>
    <b>Owner:</b>
    <%=h @view.owner.ldap_id %>
  </p>
  <p>
    <b>Elements:</b>
    <%= link_to 'Show', view_elements_path(@view) %>
  </p>
<%- end -%>
<%= render :partial => 'shared/config_show',
      :locals => { :name => @view.name, :item => @view, :parent => nil } %>
