<h1>Editing mapping</h1>

<% form_for(@mapping) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :subject_id %><br />
    <%= f.text_field :subject_id %>
  </p>
  <p>
    <%= f.label :source_id %><br />
    <%= f.text_field :source_id %>
  </p>
  <p>
    <%= f.label :sql %><br />
    <%= f.text_field :sql %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @mapping %> |
<%= link_to 'Back', mappings_path %>