<% if admin? %>
  <p>
    <b>User:</b>
    <%=h @retain_queue.user_id %>
  </p>
<% end %>

<p>
  <b>Queue:</b>
  <%=h @retain_queue.queue_name %>,
  <%=h @retain_queue.center %>
  <%= link_to 'Edit', edit_retain_queue_path(@retain_queue) %> |
  <%= link_to 'Back', retain_queues_path %>
</p>

<% for pmr in @pmrs %>
<%= pmr.fields.error_message[0...69] %><br/>
<% end %>

