<% if admin? %>
  <p>
    <b>User:</b>
    <%=h @retain_queue.user_id %>
  </p>
<% end %>

<p>
  <b>Queue:</b>
  <%=h @retain_queue.queue_name %>,
  <%=h @retain_queue.center %>
  <%= link_to 'Edit', edit_retain_queue_path(@retain_queue) %> |
  <%= link_to 'Back', retain_queues_path %>
</p>

<table>
<% for pmr in @pmrs %>
  <tr>
    <td> <%= "%s,%s,%s" % [ pmr.problem, pmr.branch, pmr.country ] %></td>
    <td> <%= pmr.NLS_comments[2...pmr.NLS_comments.length] %></td>
    <td> <%= pmr.NLS_customer_name[2...pmr.NLS_customer_name.length] %></td>
    <td> <%= pmr.NLS_contact_name[2...pmr.NLS_contact_name.length] %></td>
  </tr>
<% end %>
</table>
