<%# -*- coding: utf-8 -*- -%>
<%# Copyright 2007-2011 Ease Software, Inc. and Perry Smith -%>
<%# All Rights Reserved -%>
<% content_for :body do %>
  <!-- <%= __FILE__[Rails.root.to_s.length+1 .. -1] %> -->
  <table>
    <tr>
      <th>Name</th>
      <th>SQL</th>
    </tr>
  <% @filters.each do |filter| %>
    <tr>
      <td><%=h filter.name %></td>
      <td><%=h filter.condition ? filter.condition.sql : "None" %></td>
      <td><%= link_to 'Show', filter %></td>
      <td><%= link_to 'Edit', edit_filter_path(filter) %></td>
      <td><%= link_to 'Destroy', filter, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
  </table>
<%- end -%>
<%= render :partial => 'shared/config_index',
      :locals => { :klass => Filter, :parent => nil } %>
