<h1>Editing Retain User</h1>
<p>
  You may have been kicked over to this screen because a request to
  Retain failed due during the login phase.  Usually this is due to an
  invalid password but it can also happen that Retain simply gets
  confused.  I should have better error process and be more
  informative but there is no practical way to test the paths since
  they rarely happen.
</p>
<p>
  If the Failed Flag is set, Raptor will not even attempt to talk to
  Retain.  This is a safety catch so that the "three strikes you're
  out" doesn't happen.  It is set whenever a login attempt fails.  You
  must type in your password as well as turn off the Failed Flag.
</p>

<%= error_messages_for :user %>

<% form_for(@retuser) do |f| %>
  <p>
    <b>Retid</b><br />
    <%= f.text_field :retid %>
  </p>

  <p>
    <b>Password</b><br />
    <%= f.password_field :password %>
  </p>

  <p>
    <b>Retype your password</b><br />
    <%= f.password_field :password_confirmation %>
  </p>

  <p>
    <b>Failed Flag (must be off to log in)</b><br />
    <%= f.check_box :failed %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @retuser %> |
<%= link_to 'List of Retain Users', retusers_path %>
