<h1>Editing Retain User</h1>

<%= error_messages_for :user %>

<% form_for(@retuser) do |f| %>
  <p>
    <b>Retid</b><br />
    <%= f.text_field :retid %>
  </p>

  <p>
    <b>Password</b><br />
    <%= f.password_field :password %>
  </p>

  <p>
    <b>Retype your password</b><br />
    <%= f.password_field :password_confirmation %>
  </p>

  <p>
    <b>Failed Flag (must be off to log in)</b><br />
    <%= f.check_box :failed %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @retuser %> |
<%= link_to 'List of Retain Users', retusers_path %>
