<%- content_for(:center) do -%>
<h1>New Retain User</h1>

<%= error_messages_for :retuser %>

<% form_for(@retuser) do |f| %>
  <p>
    <b>Retid</b><br />
    <%= f.text_field :retid %>
  </p>

  <p>
    <b>Password</b><br />
    <%= f.password_field :password %>
  </p>

  <p>
    <b>Retype your password</b><br />
    <%= f.password_field :password_confirmation %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Index of Retain Users', retusers_path %>
<%- end -%>
