<%# -*- coding: utf-8 -*- -%>
<h1>Listing relationship_types</h1>

<table>
  <tr>
    <th>Container type</th>
    <th>Association type</th>
    <th>Element type</th>
  </tr>

<% @relationship_types.each do |relationship_type| %>
  <tr>
    <td><%=h relationship_type.container_type.name_type %></td>
    <td><%=h relationship_type.association_type.association_type %></td>
    <td><%=h relationship_type.item_type.name_type %></td>
    <td><%= link_to 'Show', relationship_type %></td>
    <td><%= link_to 'Edit', edit_relationship_type_path(relationship_type) %></td>
    <td><%= link_to 'Destroy', relationship_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New relationship_type', new_relationship_type_path %>
