<%# -*- coding: utf-8 -*- -%>
<% content_for :body do %>
  <!-- <%= __FILE__[Rails.root.to_s.length+1 .. -1] %> -->
  <table>
    <tr>
      <th>Container type</th>
      <th>Association type</th>
      <th>Element type</th>
    </tr>
  <% @relationship_types.each do |relationship_type| %>
    <tr>
      <td><%=h relationship_type.container_type.name %></td>
      <td><%=h relationship_type.association_type.association_type %></td>
      <td><%=h relationship_type.item_type.name %></td>
      <td><%= link_to 'Show', relationship_type %></td>
      <td><%= link_to 'Edit', edit_relationship_type_path(relationship_type) %></td>
      <td><%= link_to 'Destroy', relationship_type, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
  </table>
<%- end -%>
<%= render :partial => 'shared/config_index',
      :locals => { :klass => RelationshipType, :parent => nil } %>
