<%# -*- encoding: utf-8 -*- -%>
<%# Copyright 2007-2011 Ease Software, Inc. and Perry Smith -%>
<%# All Rights Reserved -%>
<% content_for :body do %>
  <!-- <%= __FILE__[Rails.root.to_s.length+1 .. -1] %> -->
  <p>
    <b>Container type:</b>
    <%=h @relationship_type.container_type.name %>
  </p>

  <p>
    <b>Association type:</b>
    <%=h @relationship_type.association_type.association_type %>
  </p>

  <p>
    <b>Element type:</b>
    <%=h @relationship_type.item_type.name %>
  </p>
<%- end -%>
<%= render :partial => 'shared/config_show',
      :locals => { :name => "id:#{@relationship_type.id}", :item => @relationship_type, :parent => nil } %>
