<h1>Listing team_queues</h1>

<table>
  <tr>
    <th>Team</th>
    <th>Cached queue</th>
  </tr>

<% @team_queues.each do |team_queue| %>
  <tr>
    <td><%=h team_queue.team_id %></td>
    <td><%=h team_queue.cached_queue_id %></td>
    <td><%= link_to 'Show', team_queue %></td>
    <td><%= link_to 'Edit', edit_team_queue_path(team_queue) %></td>
    <td><%= link_to 'Destroy', team_queue, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New team_queue', new_team_queue_path %>