<h1>New team_queue</h1>

<% form_for(@team_queue) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :team_id %><br />
    <%= f.text_field :team_id %>
  </p>
  <p>
    <%= f.label :cached_queue_id %><br />
    <%= f.text_field :cached_queue_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', team_queues_path %>