<%# -*- coding: utf-8 -*- -%>
<!DOCTYPE html>
<!-- <%= __FILE__[Rails.root.to_s.length+1 .. -1] %> -->

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>RetainNodes: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>

<p style="color: green"><%= flash[:notice] %></p>

<%= yield %>

</body>
</html>
